.container {
 align-items: center;
 margin-top: 3rem;
 margin-left: 1.3rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

footer {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.3rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

@media (min-width: 100px) and (max-width: 950px){
 .h1-title {
   margin-top: -30px;
   font-size: 1.5rem;
 }

 .container {
  margin-left: 1.8rem; 
 }

 footer {
  font-size: 1rem;
 }
}
